<%= link_to "つかったおかねいちらんにもどるよ", :cost_index %>
<table>
 <tr>
  <th><%= form.label :name, "つかったおかね" %></th>
  <td><%= form.text_field :name %></td>
 </tr>
 <tr>
 <th><%= form.label :description, "つかったもの" %></th>
 <td><%= form.text_field :description %></td>
 </tr>
</table>