<%= link_to "おしごといちらんに戻る", :incomes %>
<table>
  <tr>
    <th><%= form.label :name, "おしごとのなまえ" %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :description, "いくらもらえる？"%></th>
    <td><%= form.text_field :description%></td>
  </tr>
</table>

