<%= link_to "おしごといちらんに戻る", :incomes %>
<table>
  <tr>
    <th><%= form.label :name, "名称" %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.laber :description, "説明"%></th>
    <td><%= form.text_field :description%></td>
  </tr>
</table>

